export PATH=$PATH:/usr/local/bin
export PATH=$PATH:~/devel/repos/github/phacility/arcanist/bin
export TERM=xterm-256color
export COLORTERM=term-256color
export JADE_PUB=/usr/share/sgml
export LDP_HOME=/usr/share/sgml/docbook/dsssl-stylesheets-1.79/dtds/decls
export EDITOR=vim

# Python3 virtualenvwrapper
#if [ "$(uname)" == "Linux" ]; then
#    export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
#    export VIRTUALENVWRAPPER_VIRTUALENV=/usr/bin/virtualenv-3
#    export WORKON_HOME=~/devel/virtualenvs
#fi
