export PATH=$PATH:/usr/local/bin
export PATH=$PATH:~/devel/repos/github/phacility/arcanist/bin
export JADE_PUB=/usr/share/sgml
export LDP_HOME=/usr/share/sgml/docbook/dsssl-stylesheets-1.79/dtds/decls
export EDITOR=nvim
export MANPATH="/usr/local/man:$MANPATH"
export LANG=en_US.UTF-8