function largest () {
    du --max-depth=1 $1 2> /dev/null | sort -n -r | head -n20
}

function dcleanup () {
    docker rm -v $(docker ps --filter status=exited -q 2>/dev/null) 2>/dev/null
    docker rmi $(docker images --filter dangling=true -q 2>/dev/null) 2>/dev/null
}

function pass () {
    eval $(op signin my)
    op get item $1 | jq '.details.fields[] | select(.designation=="password").value'
}

# pip bash completion start
#_pip_completion()
#{
#    COMPREPLY=( $( COMP_WORDS="${COMP_WORDS[*]}" \
#                   COMP_CWORD=$COMP_CWORD \
#                   PIP_AUTO_COMPLETE=1 $1 ) )
#}
#complete -o default -F _pip_completion pip
# pip bash completion end
