export TERM=screen-256color
export COLORTERM=screen-256color
export JADE_PUB=/usr/share/sgml
export LDP_HOME=/usr/share/sgml/docbook/dsssl-stylesheets-1.79/dtds/decls
export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
export WORKON_HOME=~/devel/virtualenvs # Python3 virtualenvwrapper
