export PATH=$PATH:/usr/local/bin
export TERM=screen-256color
export COLORTERM=screen-256color
export JADE_PUB=/usr/share/sgml
export LDP_HOME=/usr/share/sgml/docbook/dsssl-stylesheets-1.79/dtds/decls
export EDITOR=vim

# Python3 virtualenvwrapper
if [ "$(uname)" == "Linux" ]; then
    export VIRTUALENVWRAPPER_PYTHON=/usr/bin/python3
    export VIRTUALENVWRAPPER_VIRTUALENV=/usr/bin/virtualenv-3
    export WORKON_HOME=~/devel/virtualenvs
fi
